<h2 mat-dialog-title>{{data.id ? 'Edit' : 'Add'}} Equipment</h2>
<p style="font-size:12px; padding-left: 24px;">Tous les champs doivent être remplis</p>
<div mat-dialog-content>
    <ng-container *ngIf="data.id">
        <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput [(ngModel)]="data.id" disabled>
        </mat-form-field>
    </ng-container>
    <mat-form-field>
        <mat-label>UID</mat-label>
        <input matInput [(ngModel)]="data.uid">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Brand</mat-label>
        <input matInput [(ngModel)]="data.brand">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Equipment</mat-label>
        <input matInput [(ngModel)]="data.equipment">
    </mat-form-field>
</div>
<div mat-dialog-actions style="display: flex; justify-content: space-between; align-items: center;">
    <div>
        <button mat-button *ngIf="!data.id" (click)="populateRandomData()">Random</button>
    </div>
    <div>
        <button mat-button [mat-dialog-close]="data" (click)="onSave()">Save</button>
        <button mat-button (click)="onNoClick()">Cancel</button>
    </div>
</div>