* {
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
  }

  div {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
    gap: 10px;
  }

  h2 {
    margin: 0;
    text-align: center;
    padding-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
  }

  button {
    padding: 10px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  .cancel-button {
    background-color: #f44336;
    margin: 5px;
  }

  .cancel-button:hover {
    background-color: #da190b;
  }